.home {
  width: 100%;
}

.hero {
  background-color: #0d47a1;
  color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

.presentacion {
  padding: 3rem 2rem;
  text-align: center;
}

.presentacion h2 {
  color: #0d47a1;
  margin-bottom: 1rem;
}

.presentacion p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}


.destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
  background-color: #f5f5f5;
}

.card {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card h3 {
  color: #1976d2;
  margin-bottom: 0.5rem;
}


.cta {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #1976d2;
  color: #ffff;
}
